<p>Update Product</p>

<div>
    <p>Title:</p>
    <input type="text" [(ngModel)]= "product.title" />
    
        <!-- <p>Product Type:</p> -->
    <!-- <input type="text" [(Ngmodule)]="product.type"/> -->
    
    <p>Price</p>
    <input type="number" [(ngModel)]= "product.price" />

    <p>Description</p>
    <input type="textarea" placeholder= "Aici va fi descrierea."/>

    <p>The product category is: </p>
    <input type="text" [(ngModel)]= "product.category.name"/>

</div>
<button (click)="updateProduct()">View Product</button>